<div id="page-footer">
  <div id="module2" class="ModuleWrapper">
    <div class="tab-footer">

      <div class="row clearfix columns-widget columns9-3">
        <div class="col-left  col-xs-12 col-md-9 col-sm-8">
          <div id="module3" class="ModuleWrapper">
            <p class="text-center">© 2016 Vietnam Nation University, Hanoi</p>
          </div>
        </div>
        <div class="col-right  col-xs-12 col-md-3 col-sm-4">
        </div>
        <br clear="all" style="line-height:1px; height:1px;">
      </div>

    </div>
  </div>
</div>
