<header class="header-type2">
  <div class="banner clearfix" style="">
    <div class="img">
      <a href="/">
        <%= image_tag('header.jpg', alt: 'header-image', class: 'header-image') %>
      </a>
    </div>
    <div class="code-chat"></div>
  </div>
</header>
