# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5581a008ae4e48c99fd6d348bca89a8bee53651af599b9dba514fe7df8bfd51db293985e816dd75c42e3e67c518f66d4f073c498eea864ec38c8ee7089dd3111

test:
  secret_key_base: aa251687e06b1d9f9666894849204cf27e4cbc2cd5b283176e87f4a86d30c55f5518cdc2340f88f9bc5ec1277d59d3e209e4125aa9a0fcd79fb296ea631856bd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
